<h3>Tables page</h3>

<p>Move to:</p>
<ul>
    <li><a href="/">Home</a></li>
</ul>

<table>
    <colgroup>
        <col span="6">
        <col span="2" style="background-color:#9bd1db;">
    </colgroup>

    <tr>
        <td></td>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>

    {{#each partials.calendarEventsListContext}}
    <tr>
        <th>{{event.daytime}}</th>
        <td>{{event.tasks.monday}}</td>
        <td>{{event.tasks.tuesday}}</td>
        <td>{{event.tasks.wednesday}}</td>
        <td>{{event.tasks.thursday}}</td>
        <td>{{event.tasks.friday}}</td>
        <td>{{event.tasks.saturday}}</td>
        <td>{{event.tasks.sunday}}</td>
    </tr>
    {{/each}}
</table>
